@{
    ViewData["Title"] = "EntornoFiservUDI";
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
<style>
    .hide {
        display: none !important;
    }

    .section1 {
        width: 50%;
        float: left;
        height: 100vh;
        box-sizing: border-box;
        border-right: 1vw;
        margin: 0;
        padding: 0;
    }

    .section2 {
        width: 50%;
        float: left;
        height: 100vh;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
</style>
<meta charset=UTF-8>
<div class="form-group col-md-4 col-xs-6" id="action_field">

    <label id="action_label">Acción:</label>
    <div class="item-box input-group">
        <select name="action" id="action" style="width: 200px" class="form-control action">
            <option style="width: 200px" id="TEST" value="https://test.ipg-online.com">TEST</option>
            <option style="width: 200px" id="TEST2" value="https://test2.ipg-online.com">TEST2</option>
            <option style="width: 200px" id="TEST3" value="https://test3.ipg-online.com">TEST3</option>
            <option style="width: 200px" id="PROD" value="https://www2.ipg-online.com">PROD</option>
        </select>

    </div>
    <label id="action_label">Algoritmo hash:</label>
    <div class="item-box input-group">
        <select name="action" id="hash_action" style="width: 200px" class="form-control action">
            <option style="width: 200px" id="hmac" value="HMACSHA256">HMACSHA256</option>
            <option style="width: 200px" id="nohmac" value="SHA256">SHA256</option>
        </select>

    </div>
</div>
<div class="section1">
    <form accept-charset="UTF-8" method="POST" id="form_udi" target="myFrame">
        <div id="div_master">

        </div>

        <div id="buttonData" class="form-group col-md-4 col-xs-6">
            <button id="sendData" type="submit" class="btn-primary waves-effectt">Enviar</button>
        </div>

    </form>
</div>

<div class="section2 col-sm-4">
    <label id="action_label">Tipo de venta:</label>
    <div class="item-box input-group">
        <select name="type_of_selling" id="type_of_selling" style="width: 200px" class="form-control action">
            <option style="width: 200px" id="direct" value="direct">Directa</option>
            <option style="width: 200px" id="msi" value="msi">MSI</option>
            <option style="width: 200px" id="3ds" value="3ds">Autenticación 3DS</option>
            <option style="width: 200px" id="tokenization" value="tokenization">Tokenización de Tarjetas</option>
            <option style="width: 200px" id="concurrent" value="concurrent">Cargos recurrentes</option>
        </select>

    </div>
    <label id="sharedsecret_label">SharedSecret:</label>
    <div class="item-box input-group" id="storename_field">

        <input type="password" style="width: 200px" class="form-control" name="sharedsecret" id="sharedsecret" />

    </div>
</div>

<script src="~/Scripts/ConnectForm.js"></script>
