@{
    ViewData["Title"] = "EntornoFiservUDI";
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
<style>
    .hide {
        display: none !important;
    }

    .section1 {
        width: 50%;
        float: left;
        height: 100vh;
        box-sizing: border-box;
        border-right: 1vw;
        margin: 0;
        padding: 0;
    }

    .section2 {
        width: 50%;
        float: left;
        height: 100vh;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
</style>
<meta charset=UTF-8>
<div class="form-group col-md-4 col-xs-6" id="action_field">

    <label id="action_label">Acción:</label>
    <div class="item-box input-group">
        <select name="action" id="action" style="width: 200px" class="form-control action">
            <option style="width: 200px" id="TEST" value="https://test.ipg-online.com">TEST</option>
            <option style="width: 200px" id="PROD" value="https://www2.ipg-online.com">PROD</option>
        </select>

    </div>
    <label id="action_label">Algoritmo hash:</label>
    <div class="item-box input-group">
        <select name="action" id="hash_action" style="width: 200px" class="form-control action">
            <option style="width: 200px" id="hmac" value="HMACSHA256">HMACSHA256</option>
            <option style="width: 200px" id="nohmac" value="SHA256">SHA256</option>
        </select>

    </div>
</div>
<div class="section1">
    <form accept-charset="UTF-8" method="POST" id="form_udi" target="myFrame">
        <input type="hidden" name="authenticateTransaction" value="true" />
        <div class="form-group col-md-4 col-xs-6" id="chargetotal_field">
            <label class="control-label col-sm-12" id="chargetotal_label">Cargo:</label>
            <div class="item-box input-group">
                <input type="number" min="0" style="width: 200px" id="chargetotal" placeholder="0.00" step="0.01" pattern="^\d*(\.\d{0,2})?$" name="chargetotal" class="form-control" maxlength="20">
            </div>
        </div>

        <input type="hidden" name="checkoutoption" id="checkoutoption" value="combinedpage" />
        <div class="form-group col-md-4 col-xs-6" id="action_field">

            <label id="currency_label">Moneda:</label>
            <div class="item-box input-group">
                <select name="currency" id="currency" style="width: 200px" class="form-control action ">
                    <option style="width: 200px" id="USD" value="840">USD</option>
                    <option style="width: 200px" id="MXN" value="484">MXN</option>
                </select>

            </div>
        </div>
        <input type="hidden" name="hash_algorithm" id="hash_algorithm" />
        <input type="hidden" name="installmentsInterest" value="false" />
        <input type="hidden" name="numberOfInstallments" value="6" />
        <input type="hidden" name="hashExtended" id="hashExtended" />
        <input type="hidden" name="paymentMethod" id="paymentMethod" value="M" />
        <input type="hidden" name="responseFailURL" id="responseFailURL" value="https://localhost:5001/Home/Privacy" />
        <input type="hidden" name="responseSuccessURL" id="responseSuccessURL" value="https://localhost:5001/Home/Index" />
        <div class="form-group col-md-4 col-xs-6" id="storename_field">
            <label class="control-label col-sm-12" id="storename_label">StoreId:</label>
            <div class="item-box input-group">
                <input type="text" style="width: 200px" id="storename" name="storename" class="form-control" maxlength="20">
            </div>
        </div>
        <input type="hidden" name="threeDSRequestorChallengeIndicator" value="4" />
        <input type="hidden" name="timezone" id="timezone" value='America/Mexico_City' />
        <input type="hidden" name="transactionNotificationURL" id="transactionNotificationURL" value="https://pagosonline.mx/logs/notificationsoap.php" />
        <input type="hidden" name="txndatetime" id="txndatetime" />
        <input type="hidden" name="txntype" id="txntype" value="sale" />
        <div class="col-sm-6">
            <button id="sendData" type="submit" class="btn-primary waves-effectt">Enviar</button>
        </div>

    </form>
    </div>

    <div class="section2 col-sm-12">
        <div class="form-group col-md-4 col-xs-6" id="storename_field">
            <label id="sharedsecret_label">SharedSecret:</label>
            <input type="password" style="width: 200px" class="form-control" name="sharedsecret" id="sharedsecret" />

        </div>
    </div>

        <script src="~/Scripts/ConnectForm.js"></script>
