@{
    ViewData["Title"] = "EntornoFiservUDI";
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
<style>
    .hide {
        display: none !important;
    }

    .section1 {
        width: 50%;
        float: left;
        height: 100vh;
        box-sizing: border-box;
        border-right: 1vw;
        margin: 0;
        padding: 0;
    }

    .section2 {
        width: 50%;
        float: left;
        height: 100vh;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
</style>
<meta charset=UTF-8>
<center>
    <div class="col-4">
        <h1>Entorno de pruebas de UDI</h1>
    </div>
    <div>
        <h4>Connect</h4>
        <a  asp-area="" asp-controller="Home" asp-action="Connect">
            <img src="/Images/API_illustration_light.png" width="500" height="300">
        </a>

    </div>
    <div>
        <h4>API</h4>
        <a asp-area="" asp-controller="Home" asp-action="API">
            <img src="/Images/apisimple.jpg" width="500" height="240">
        </a>
    </div>
    <div>
        <h4>Documentación</h4>
        <a href="https://docs.firstdata.com/org/FDMexico" target="_blank">
            <img src="/Images/post_ap-76_cedocs.jpg" width="400" height="240">
        </a>
    </div>
</center>


