@{
    ViewData["Title"] = "La compra se ha realizado con éxito";
}
<h1>@ViewData["Title"]</h1>
<h2>Folio: @ViewBag.oid</h2>
<p>Su compra de @ViewBag.chargetotal MXN ha sido completada dar click en Home para regresar a la pantalla principal o elegir una de las pestañas de servicios</p>