@{
    ViewData["Title"] = "EntornoFiservUDI";
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>



<style>
    .hide {
        display: none !important;
    }

    .section1 {
        width: 50%;
        float: left;
        height: 100vh;
        box-sizing: border-box;
        border-right: 1vw;
        margin: 0;
        padding: 0;
    }

    .section2 {
        width: 50%;
        float: left;
        height: 100vh;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
</style>
<meta charset=UTF-8>

<div class="section1">
    <form accept-charset="UTF-8" method="POST" id="form_udi" target="myFrame">
        <div id="div_master">

        </div>

        <div id="buttonData" class="form-group col-md-4 col-xs-6">
            <button id="sendData" type="button" onclick="createStores()" class="btn-primary waves-effectt">Enviar</button>
        </div>
    </form>

</div>


<script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" data-auto-replace-svg="nest"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
<script src="~/Scripts/StoreAPI.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
